## ignore
/*
*.*
_*

# add .git stuff
!.gitignore
!.gitattributes

# add dirs
!/**/v*.*
!/lib/
!/libv2/
!/examples/
!/config/
!/tools/
!/tools/*.py
!/tools/*.uf2
!/tools/*.bin
!/tools/*.elf
!/tools/pylib/
!/tools/pylib/*.py
!/changes/

!/examples/v1.0/pico/
!/examples/v1.0/pico/DebugEval/
!/examples/v1.0/pico/DebugEval/*.lst
!/examples/v1.0/pico/DebugEval/*.asm
!/examples/v1.0/pico/DebugEval/rdb/
!/examples/v1.0/pico/DebugEval/rdb/*.elst
!/examples/v1.0/pico/DebugEval/rdb/*.easm
!/examples/v1.0/pico/DebugEval/rdb/*.lst

!/examples/rpi/any/Stacktrace/*.elst

# add files
!*.ini
!*.mod
!*.md
!*.txt
!*.res
!*.pio

_*
