## ignore
/*
*.*
_*

# add .git stuff
!.gitignore
!.gitattributes

# no project-local framework lib dirs
/**/rtk-lib-rp2040
/**/rtk-lib-rp2350
/**/rtk-lib

# add dirs
!/**/v*.*
!/lib/
!/libv2/
!/examples/
!/config/
!/tools/
!/tools/*.py
!/tools/*.uf2
!/tools/*.bin
!/tools/*.elf
!/tools/pylib/
!/tools/pylib/*.py
!/changes/

!/examples/v3.0/nxp/any/SignalSync/rdb/*.elst

!/examples/v1.0/pico/
!/examples/v1.0/pico/DebugEval/
!/examples/v1.0/pico/DebugEval/*.lst
!/examples/v1.0/pico/DebugEval/*.asm
!/examples/v1.0/pico/DebugEval/rdb/
!/examples/v1.0/pico/DebugEval/rdb/*.elst
!/examples/v1.0/pico/DebugEval/rdb/*.easm
!/examples/v1.0/pico/DebugEval/rdb/*.lst

!/examples/v2.1/tvi/pico2-ice/IceCram/rgb_blink.bin
!/examples/v2.1/tvi/pico2-ice/IceFlash/rgb_blink.bin

!/examples/v2.0/rpi/any/Stacktrace/*.elst

# add files
!*.ini
!*.mod
!*.md
!*.txt
!*.res
!*.pio
!*.json

_*
