## ignore
/*
*.*
_*

# add .git stuff
!.gitignore
!.gitattributes

# no project-local framework lib dirs
/**/rtk-lib-rp2040
/**/rtk-lib-rp2350
#/**/rtk-lib

# add dirs
#!/**/v*.*
!/lib/
!/lib/v*.*
!/libv2/
!/examples/
!/examples/v*.*
!/config/
!/targets/
!/targets/arm/
!/targets/arm/*.cfg
!/targets/svd/*.xml
!/tools/
!/tools/*.py
!/tools/*.uf2
!/tools/*.bin
!/tools/*.elf
!/tools/pylib/
!/tools/pylib/*.py
!/tools/server-scripts/
!/tools/server-scripts/*.cmd
!/tools/server-scripts/*.sh
!/tools/server-scripts/openocd
!/tools/server-scripts/openocd/*.cfg
# !/tools/setup/
# !/tools/setup/*.cmd
!/tools/setup/*.sh
!/changes/
!.vscode/

!/examples/v3.0/nxp/any/SignalSync/rdb/*.elst

!/examples/v1.0/pico/
!/examples/v1.0/pico/DebugEval/
!/examples/v1.0/pico/DebugEval/*.lst
!/examples/v1.0/pico/DebugEval/*.asm
!/examples/v1.0/pico/DebugEval/rdb/
!/examples/v1.0/pico/DebugEval/rdb/*.elst
!/examples/v1.0/pico/DebugEval/rdb/*.easm
!/examples/v1.0/pico/DebugEval/rdb/*.lst

!/examples/v2.1/tvi/pico2-ice/IceCram/rgb_blink.bin
!/examples/v2.1/tvi/pico2-ice/IceFlash/rgb_blink.bin

!/examples/v2.0/rpi/any/Stacktrace/*.elst

# add files
!*.ini
!*.mod
!*.md
!*.txt
!*.res
!*.pio
!*.json
!*.spec
!*.cfg
!*.cmd
!*.sh
!*.py

_*

# program artefacts
arm-attr.cfg

# dev tool versions (NNN-suffixed)
tools/*-c[0-9][0-9][0-9].py
tools/pylib/*_c[0-9][0-9][0-9].py

# internal tools
tools/gen-elf-test*.py
tools/publish-tools.py

# test infrastructure
**/rdb-gdb-tests/reports/

# test infrastructure
**/rdb-elf-tests/

.claude/
CLAUDE.md
